extends layout

block content
  table#dataTables-example.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 产品名称
        th 产品类别
        th 产品型号
        th 更新日期
        th 操作
    tbody
      each product in products
        tr.odd.gradeX
          td= product.name
          td= product.series
          td= product.model
          td= moment(product.meta.updateAt).calendar()
          td
            button#changeBtn.btn.btn-info.btn-sm(type='button', data-toggle='modal', data-target='#createModal', data-id=`${product._id}`) 修改